<!-- MailChimp Email Form -->
<form class="email-signup" action="http://nikant.us1.list-manage.com/subscribe/post?u={{ site.mailchimp.user-id }}&amp;id={{ site.mailchimp.list-id }}" method="post" novalidate>
	<div class="field-group">
		<input type="email" value="" name="EMAIL" placeholder="Email Address">
	</div>


	<!-- bot signup protection - real people won't fill this in -->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_{{ site.mailchimp.user-id }}_{{ site.mailchimp.list-id }}" tabindex="-1" value=""></div>

    <input type="submit" value="Join The List" name="subscribe" class="button">
    <p>No spam. You can unsubscribe at any time.</p>
</form>
